{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <section style="position: relative; padding-top: 5rem;">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-2 mb-1">Dashboard</h1>
                        <p class="mb-4">Welcome, {{name}}</p>
                        <div class="container mb-3"> 
                            <button type="button" data-bs-toggle="modal" style="margin-top:10px" class="btn btn-primary" data-bs-target="#modal-ford">
                                        Ford Login
                                    </button>
                            <button type="button" data-bs-toggle="modal" style="margin-top:10px" class="btn btn-primary" data-bs-target="#modal-myq">
                                        MyQ Login
                                    </button>
                                    <form name="save-all" method="POST" action="/save_all"><button type="submit" style="margin-top:10px" class="btn btn-primary" >
                                        Save All
                                    </button></form>
                            <a href="{{ url_for('logout') }}" style="margin-top:10px" class="btn btn-tertiary">
                                        Logout
                                    </a>

                            <div class="col-md-2">
                        <!-- Modal Content -->
                        <div class="modal fade" id="modal-ford" tabindex="-1" role="dialog"
                            aria-labelledby="modal-ford" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content bg-primary text-white">
                                    <div class="modal-header border-0">
                                        <button type="button" class="btn-close bg-gray-500" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="py-3 text-center">
                                            <h2 class="h4 modal-title my-3">Log in to your Ford account</h2>
                                            <form name="ford-login" method="POST" action="/save_ford" class="mt-4">
                                            <!-- Form -->
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>
                                                    <input type="email" name="ford-email" class="form-control" placeholder="Email" id="ford-email" required>
                                                </div>  
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-unlock-alt"></span></span>
                                                    <input type="password" name="ford-password" class="form-control" placeholder="Password" id="ford-password" required>
                                                </div>  
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-car"></span></span>
                                                    <input name="vin" class="form-control" placeholder="VIN" id="vin" required>
                                                </div>  
                                            </div>
                                    <div class="modal-footer border-secondary">
                                        <button class="btn btn-sm btn-white" type="submit">Save</button>
                                    </div>
                                </form>
                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Modal Content -->
                        <!-- Modal Content -->
                        <div class="modal fade" id="modal-myq" tabindex="-1" role="dialog"
                            aria-labelledby="modal-myq" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content bg-primary text-white">
                                    <div class="modal-header border-0">
                                        <button type="button" class="btn-close bg-gray-500" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="py-3 text-center">
                                            <h2 class="h4 modal-title my-3">Log in to your MyQ account</h2>
                                            <form method="POST" action="/save_myq" class="mt-4">
                                            <!-- Form -->
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-envelope"></span></span>
                                                    <input type="email" name="myq-email" class="form-control" placeholder="Email" id="myq-email" required>
                                                </div>  
                                            </div>
                                            <div class="form-group mb-4">
                                                <div class="input-group">
                                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-unlock-alt"></span></span>
                                                    <input type="password" name="myq-password" class="form-control" placeholder="Password" id="myq-password" required>
                                                </div>  
                                            </div>
                                            <div class="modal-footer border-secondary">
                                        <button type="submit" class="btn btn-sm btn-white">Save</button>
                                    </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Modal Content -->
                    </div>
                        </div>
                    </div>
                </div>
        </section>

    </main>

    <div class="container">
        <div class="row mb-5">
            <div class="col-12 mt-5">
                <div class="card shadow mb-4">
                    <div class="card-body px-5 py-5 text-center text-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h2 class="mb-3">Your Vehicle</h2>
                                <h5 class="mb-3">{{car_year}} {{car_make}} {{car_model}}</h5>
                                <h7 class="mb-3">Drive Type: {{driver_type}}</h7><br/>
                                <h7 class="mb-3">Fuel Type: {{fuel_type}}</h7><br/>
                                <h7 class="mb-3">VIN: {{car_vin}}</h7>
                            </div>
                            <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                                <img src="/static/assets/img/ford-image-test.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="card shadow mb-4">
                    <div class="card-body px-5 py-5 text-center text-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <h2 class="mb-3">Your Garages</h2>
                                <form method='POST' action='/save_garage'>
                                <div style="font-size:14px">{{garage_table|safe}}</div>
                                <input  type='hidden' value='' name='garage_id' id='garage_id'><button style='margin-top:1rem' id='garage' name='garage' type='submit' class='btn btn-outline-tertiary'>Save Garage</button></form>
                            </div>
                            <div class="col-12 col-md-6 mt-4 mt-md-0 text-md-right">
                                <img src="/static/assets/img/garage.png"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <h5 style="text-align:center">Mark your garage on the map below</h5>
                <div class="card shadow mb-4">
                    <div class="card-body px-0 py-0 text-center text-md-left">
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div style="position:relative; height:400px; width: 100%">
                                    <div id="map" style=" left: 0;top: 0;position: absolute;border-radius: 1rem;height:100%; min-width: 100%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 style="text-align:center">Current Saved Location: {{reverse_geo}}
                <form method='POST' action='/profile'><input type='hidden' value='' name='lat' id='lat'><input type='hidden' value='' name='lng' id='lng'><button id='location' name='location' type='submit' style='margin-top:1rem' class='btn btn-outline-tertiary'>Save Location</button></form></h6>
            </div>
            <!-- <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card shadow">
                    <img src="/static/assets/img/blog/image-1.jpg" class="card-img-top rounded-top"
                        alt="Themesberg office">
                    <div class="card-body">
                        <span class="h6 icon-tertiary small"><span class="fas fa-medal me-2"></span>Awards</span>
                        <h3 class="h5 card-title mt-3">We partnered up with Google</h3>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary btn-sm">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-md-7 mb-lg-0">
                <div class="card border-0 overflow-hidden">
                    <div class="position-relative">
                        <img src="/static/assets/img/team/profile-picture-1.jpg" class="card-img-top"
                            alt="Neil Portrait">
                    </div>
                    <div
                        class="card-body position-relative mt-n6 mx-2 bg-white border border-gray-300 text-center rounded">
                        <h3 class="h5 card-title">Neil D. Sims</h3>
                        <span class="text-gray"><span class="fas fa-map-marker-alt me-2"></span>New York,
                            USA</span>
                        <p class="mt-3">Neil drives the technical strategy of the platform and brand.</p>
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-icon">
                                <span class="me-1"><span class="far fa-user"></span></span>
                                Follow
                            </button>
                            <button class="btn btn-primary" aria-label="mesage button" title="message button">
                                <span aria-hidden="true" class="far fa-envelope"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoTPPfyEHD_hjOW42BYq0NafmEe0j9d_o&callback=initMap&libraries=&v=weekly&channel=2"
      async
    ></script>

    <script src="{{ url_for('static', filename='assets/js/maps.js') }}"></script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
